nav{
    background-color: #546e7a;
}

footer.page-footer{
    background-color: #546e7a;
}

.welcome {
    height: 400px;
    width: 100%;
    background: url('/static/images/welcome.jpg') no-repeat 0px 0px;
    object-fit: cover;
}


.welcome .text-container{
    height: inherit;
    text-align: center;
}

.full-width{
    width: 100%;
}
