{% extends "base/base.html" %}

{% block title %}
    Web系统平台
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="valign-wrapper" style="height: inherit">
        <div class="valign center" style="width: 100%">
            <div class="section">
                <h5 id="fullscreen-center-text">This is a code server frontPage</h5>
            </div>
            <div class="section">
                <a class="waves-effect waves-light btn">Home Page</a>
            </div>
        </div>
    </div>
{% endblock %}